<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" color="medium" disabled>
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    <!-- <ion-button fill="clear" color="medium" slot="start" routerLink="/home" >
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button> -->

  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center" *ngIf="sector">{{sector.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="sector && sector.zones">
    <ion-card *ngFor="let zone of sector.zones; let i = index" (click)="navigate(i)">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-input placeholder="Zóna név" style="flex: 2;" clear-input [value]="zone.name" (click)="prevent($event)"
            (ionBlur)="UpdateZoneName($event, i)">
          </ion-input> <span class="space-filler"></span>
          <ion-button fill="clear" color="secondary" (click)="DeleteZone($event, i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-card-subtitle>
      </ion-card-header>

      <div *ngIf="zone.items && zone.items.length > 0"></div>
      <ion-item *ngFor="let item of zone.items"
        [ngClass]="{'warning': item.value >= item.warning, 'danger': item.value >= item.danger }">
        <ion-icon slot="start" *ngIf="item.status==='active'" color="success" name="radio-button-on"></ion-icon>
        <ion-icon slot="start" *ngIf="item.status==='disabled'" disabled name="radio-button-on"></ion-icon>
        <ion-icon slot="start" *ngIf="item.status==='inactive'" color="danger" disabled name="radio-button-on">
        </ion-icon>
        <ion-label>
          <p>{{item.type}}&nbsp;&nbsp; <b style="color: white;" *ngIf="item.status==='active'">{{item.value}} ppm</b>
          </p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <ion-button fill="outline" color="primary" expand="block" (click)="AddZone($event, i)">
          <ion-icon slot="start" name="add"></ion-icon>Szenzor
        </ion-button>
      </ion-card-content>

    </ion-card>
  </div>

  <div class="btn-add-sector">
    <ion-button fill="clear" color="secondary" (click)="AddZone()">
      <ion-icon slot="start" name="add"></ion-icon>zóna
    </ion-button>
  </div>
</ion-content>