.btn-add-sector {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(transparent, #3c4564, #3c4564);
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  z-index: 10;
}