<ion-header>
  <ion-toolbar>
    <ion-title>
      QR CODE POC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item>
  <ion-button expand="full" (click)="createCode()">
    <ion-icon name="barcode">Create Code</ion-icon>
  </ion-button>
  <ion-button expand="full" (click)="scanCode()">
    <ion-icon name="qr-scanner">Scan Code</ion-icon>
  </ion-button>

  <div id="contentToConvert">
  <ion-card *ngIf="createdCode">
    <qrcode [qrdata]="createdCode" [size]="256" [level]="'M'"></qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>
  </div>
  <ion-button expand="full" (click)="generatePdf()">
    Code to PDF
  </ion-button>
  

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>

</ion-content>