<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide class="step">
      <ion-img src="/assets/images/step1.png"></ion-img>
      <h1>Figyelő</h1>
      <p>Virtuális szenzor elhelyezés. Valós idejű nyomonkövetés. Azonnali közbeavatkozás.</p>
      <ion-button fill="clear" routerLink="/home">átugrás</ion-button>
    </ion-slide>
    <ion-slide class="step">
      <ion-img src="/assets/images/step2.png"></ion-img>
      <h1>Jelentések</h1>
      <p>Tanulj az előzményekből. Statisztikák amik segítségével okosabb lehetsz a jövőben.</p>
      <ion-button fill="clear" routerLink="/home">átugrás</ion-button>
    </ion-slide>
    <ion-slide class="step">
      <ion-img src="/assets/images/qrcode.png"></ion-img>
      <h1>Egyszerű</h1>
      <p>A karbantartáshoz nem kell szakember. QR kódos szenzor párosítás.</p>
      <ion-button fill="outline" routerLink="/home">átugrás</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>