ion-slide {
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 75vw;
    max-height: 50vh;
    overflow: hidden;
}

ion-slide h1 {
    color: var(--ion-text-color);
}

ion-slide p {
    color: rgb(111, 123, 156)
}